@{
    ViewBag.Title = "About";
}
	<section class="ftco-section ftco-no-pt ftco-no-pb">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url(../../dentista/images/about.jpg);">
				</div>
				<div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
					<div class="heading-section mb-5">
						<div class="pl-md-5 ml-md-5 pt-md-5">
							<span class="subheading mb-2">Welcome to Gummy Dental</span>
							<h2 class="mb-2" style="font-size: 32px;">Dental professional specializing in acute situations.</h2>
						</div>
					</div>
					<div class="pl-md-5 ml-md-5 mb-5">
                        <p>Vim at consectetuer concludaturque, alterum equidem ea usu. Duo meliore consetetur ad. Eu augue decore corrumpit duo, mei expetenda omittantur ne, dolore electram salutatus eum ex. Ne ubique salutandi quo, et sonet prompta invenire per, euismod feugait adolescens pro ne.</p>
                        <p>Cu vim verear deleniti, duo assum dictas ad. Eam an agam audire, liber decore utinam id sea, mea habemus repudiare ea. Ei melius deserunt sit. Eos deleniti legendos cotidieque id, sed et eligendi instructior.</p>
						<div class="founder d-flex align-items-center mt-5">
							<div class="img" style="background-image: url(../../dentista/images/doc-1.jpg);"></div>
							<div class="text pl-3">
								<h3 class="mb-0">Dr. Paul Foster</h3>
								<span class="position">CEO, Founder</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<hr />
<section class="ftco-section testimony-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
				<span class="subheading">Testimonials</span>
				<h2 class="mb-4">Our Patients Says About Us</h2>
			</div>
		</div>
		<div class="row ftco-animate justify-content-center">
			<div class="col-md-12">
				<div class="carousel-testimony owl-carousel">
					<div class="item">
						<div class="testimony-wrap d-flex">
							<div class="user-img" style="background-image: url(../../dentista/images/person_1.jpg)">
							</div>
							<div class="text pl-4 bg-light">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								<p class="name">Racky Henderson</p>
								<span class="position">Farmer</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap d-flex">
							<div class="user-img" style="background-image: url(../../dentista/images/person_2.jpg)">
							</div>
							<div class="text pl-4 bg-light">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								<p class="name">Henry Dee</p>
								<span class="position">Businessman</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap d-flex">
							<div class="user-img" style="background-image: url(../../dentista/images/person_3.jpg)">
							</div>
							<div class="text pl-4 bg-light">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								<p class="name">Mark Huff</p>
								<span class="position">Student</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap d-flex">
							<div class="user-img" style="background-image: url(../../dentista/images/person_4.jpg)">
							</div>
							<div class="text pl-4 bg-light">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								<p class="name">Rodel Golez</p>
								<span class="position">Striper</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap d-flex">
							<div class="user-img" style="background-image: url(../../dentista/images/person_1.jpg)">
							</div>
							<div class="text pl-4 bg-light">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								<p class="name">Ken Bosh</p>
								<span class="position">Manager</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
